// Place all the styles related to the course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Section view
table.section {
	width: 800px;
	border-collapse: collapse;
	tr.head {
		font-weight: bold;
	}
	td {
		border: 1px solid black;
		padding: 6px;
	}
	td.col1 {
			width: 140px;
	}
	td.col2 {
		width: 180px;
	}
}